@media (max-width: 1040px) {
  .image-wrapper {
    width: 50% !important;
  }
  .ant-image-img,
  .ant-image {
    height: 400px !important;
  }
}

@media (max-width: 805px) {
  .image-wrapper {
    width: 33% !important;
  }
  .ant-drawer-body {
    padding: 20px 12px;
  }

  .ant-input,
  .ant-input-search-button {
    height: 30px;
  }

  .ant-menu,
  .ant-input,
  .image__photographer {
    font-size: 12px;
  }

  .ant-image-img,
  .ant-image {
    height: 280px !important;
  }

  .side {
    flex: 1 0 200px !important;
    max-width: 200px !important;
    min-width: 200px !important;
  }

  .ant-drawer-content-wrapper {
    width: 200px !important;
  }
}

@media (max-width: 750px) {
  .ant-image-img,
  .ant-image {
    height: 250px !important;
  }
}

@media (max-width: 650px) {
  .ant-image-img,
  .ant-image {
    height: 230px !important;
  }
}

@media (max-width: 600px) {
  .image-wrapper {
    width: 50% !important;
  }
  .ant-image-img,
  .ant-image {
    height: 330px !important;
  }
}

@media (max-width: 550px) {
  .crumbs {
    margin-bottom: 12px;
  }
  .image-wrapper {
    max-width: 400px;
    width: 100% !important;
  }
  .ant-image-img,
  .ant-image {
    height: 360px !important;
  }
}

@media (max-width: 450px) {
  .image-wrapper {
    max-width: 370px;
  }
  .ant-image-img,
  .ant-image {
    height: 360px !important;
  }
}

@media (max-width: 410px) {
  .image-wrapper {
    max-width: 280px;
  }
  .ant-image-img,
  .ant-image {
    height: 300px !important;
  }
}
