@media (max-width: 1040px) {
  .photo-wrapper {
    width: 50% !important;
  }
  .ant-image-img,
  .ant-image {
    height: 400px !important;
  }
}

@media (max-width: 805px) {
  .main {
    padding: 0 12px;
  }

  .main__title {
    font-size: 30px;
  }

  .main__top-wrapper {
    padding: 4px 0 14px !important;
  }

  .photo-wrapper {
    width: 33% !important;
  }
  .ant-drawer-body {
    padding: 20px 12px;
  }

  .ant-input,
  .ant-input-search-button {
    height: 30px;
  }

  .ant-menu,
  .ant-input,
  .photo__photographer {
    font-size: 12px;
  }

  .ant-image-img,
  .ant-image {
    height: 280px !important;
  }

  .side {
    flex: 1 0 200px !important;
    max-width: 200px !important;
    min-width: 200px !important;
  }

  .ant-drawer-content-wrapper {
    width: 200px !important;
  }
}

@media (max-width: 750px) {
  .ant-image-img,
  .ant-image {
    height: 250px !important;
  }
}

@media (max-width: 650px) {
  .ant-image-img,
  .ant-image {
    height: 230px !important;
  }
}

@media (max-width: 600px) {
  .main__title {
    font-size: 26px;
  }

  .main__content-wrapper {
    justify-content: space-around;
  }

  .photo-wrapper {
    width: 50% !important;
  }
  .ant-image-img,
  .ant-image {
    height: 330px !important;
  }
}

@media (max-width: 550px) {
  .main__top-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .main__title {
    font-size: 24px;
  }

  .main__content-wrapper {
    justify-content: space-around;
  }

  .crumbs {
    margin-bottom: 12px;
  }
  .photo-wrapper {
    max-width: 400px;
    width: 100% !important;
  }
  .ant-image-img,
  .ant-image {
    height: 360px !important;
  }
}

@media (max-width: 450px) {
  .photo-wrapper {
    max-width: 370px;
  }
  .ant-image-img,
  .ant-image {
    height: 360px !important;
  }
}

@media (max-width: 410px) {
  .photo-wrapper {
    max-width: 280px;
  }
  .ant-image-img,
  .ant-image {
    height: 300px !important;
  }
}
