.treeItem {
  background: transparent;
  border: 0;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  text-align: left;
  height: 50px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  padding-left: 65px;
  padding-right: 10px;

  color: #1a1a1a;
  transition: all 0.2s;

  &:hover {
    background: #e8e8e8;
  }

  &.active {
    background: #409eff;
    color: #fff;
  }

  & span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
